@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Selamat datang di Aplikasi Admin IB</h1>
    <p>Lihat request IB <a asp-controller="IB" asp-action="Index">disini</a>.</p>
</div>
